.container {
  background-color: #ffffff;
  // max-width: 1024px;
  margin: 0 130px;
  display: flex;
  padding-top: 75px;
  .slider-item {
    flex: 1;
    .slider-text {
      // width: 100%;
      padding-left: 125px;
      h2 {
        font-size: 100px;
        font-weight: 400;
        line-height: 1.2;
        margin-top: 0;
        margin-bottom: 0;
      }
      p {
        color: #68768e;
        font-size: 16px;
        line-height: 2;
      }
    }
    img {
      margin-right: -70px;
      margin-left: 25px;
      // width: 100%;
    }
  }
}
